.fondo1
  background-image: url('../assets/curso/tema1/fondo1.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo2
  background-image: url('../assets/curso/tema1/fondo2.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  z-index: 2

.fondo3
  background-image: url('../assets/curso/tema1/fondo3.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  position: relative
  top: -70px
  z-index: 1

.fondo4
  background-image: url('../assets/curso/tema1/fondo4.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo5
  background-color: #fff !important

.fondo6
  background-image: url('../assets/curso/tema1/fondo5.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo7
  background-image: url('../assets/curso/tema1/fondonegro.svg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.fondo8
  background-image: url('../assets/curso/tema1/fondo6.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo9
  background-color: #E5EDFF

.fondo10
  background-color: #fff
  border: 2px dashed #AFAFAF
  padding-top: 20px
  padding-bottom: 20px
  border-radius: 10px
  background-size: 190px 90px !important

.fondo11
  background-color: #FFE1BF !important

.fondo12
  background-image: url('../assets/curso/tema1/fondoslider.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom

.fondo13
  background-image: url('../assets/curso/tema2/fondo1.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo14
  background-image: url('../assets/curso/tema2/fondo2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo15
  background-image: url('../assets/curso/tema2/fondo3.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo16
  background-image: url('../assets/curso/tema3/fondo1.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  position: relative
  top: -150px
  z-index: 0

.fondo17
  background-color: #2754BA !important

.fondo18
  background-image: url('../assets/curso/tema3/fondo2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo19
  background-image: url('../assets/curso/tema3/fondo3.jpg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.fondo20
  background-color: #FFF1E2
  border-radius: 15px
  padding: 20px

.fondo21
  background-image: url('../assets/curso/tema3/fondo4.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo22
  background-image: url('../assets/curso/tema4/fondo1.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo23
  background-image: url('../assets/curso/tema4/fondo2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo24
  background-image: url('../assets/curso/tema4/fondo3.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo25
  background-image: url('../assets/curso/tema4/fondo4.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo26
  background-color: #2754BA !important
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.fondo27
  background-image: url('../assets/curso/tema5/fondo1.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo28
  background-color: #A2CEFF !important

.fondo29
  background-color: #F7DCBE

.fondo30
  background-color: #F7F1BE

.fondo31
  background-color: #E5F2FF

.acordion__activo
  background-image: url('../assets/curso/tema5/fondo2.jpg') !important
  background-size: cover !important
  background-repeat: no-repeat !important
  background-position: center !important

.fondo33
  background-color: #FFE1BF
  border: 2px solid #F08E35
  border-radius: 10px

.fondo34
  background-image: url('../assets/curso/tema1/fondo7.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo35
  background-image: url('../assets/curso/tema2/fondo4.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo36
  background-color: #fff

.fondo37
  background-color: #F6F6F6

.alinearCelda
  vertical-align: top !important

.ponerencima
  z-index: 1

.subrayadominado:after
  overflow: hidden
  width: 210px !important
  border-left: solid !important
  border-left-color: #2754BA !important
  background-color: #2754BA !important

.subrayadotec:after
  width: 500px !important
  border-left: solid !important
  border-left-color: #2754BA !important
  background-color: #2754BA !important

.subrayadotoken:after
  width: 70px !important
  border-left: solid !important
  border-left-color: #2754BA !important
  background-color: #2754BA !important

.subrayado
  text-decoration-color: #2754BA
  text-decoration-line: underline
  text-decoration-style: solid

.alinear
  clear: both
  display: flex

.ajustarcubo
  width: 34px
  height: 38px

.ajustarimg
  width: 150px
  height: 40px

.ajustarcripto
  width: 45px
  height: 45px

.centrar
  margin: 0 auto

.margencubo
  margin-top: 10px !important

.linea-tiempo-d .linea-tiempo-d__item--selected .tarjeta
  background-color: rgba(39, 84, 186, 0.25) !important

.padCelda
  padding: 20px 30px !important

.tarjeta-numerada.color-secundario
  border-color: #FF8900 !important

.fa-play:before
  content: "\f144" !important
  color: #2754BA

.fa-chevron-right:before
  color: #FF8900 !important

.fa-chevron-left:before
  color: #FF8900 !important

.linea-tiempo-b.color-secundario .linea-tiempo-b__icon
  background-color: transparent !important

.linea-tiempo-b__icon img
  width: 55.65% !important

.altoCuadro
  height: 316px !important

.bordeBlanco
  border: 1px solid #fff
  border-radius: 20px
  padding: 20px
  margin-bottom: 7em

.figurasize
  width: 80px !important

.fondoblanco
  background-color: #fff
  border-radius: 20px
  padding: 20px

.ampliarfondo
  margin-left: -50px
  margin-right: -50px

.ampliarfondo2
  margin-left: -150px
  margin-right: -150px

.imagensize
  width: 80%

.margenimg
  margin: 0 auto

.tabla-b__header
  text-align: start !important
  padding-left: 0 !important
  padding-right: 0 !important

.bordetabla
  border-right: 1px solid #AFAFAF !important

.columna1
  width: 172px !important

.columna2 
  width: 450px !important

.columna3
  width: 580px !important

.fondoencabezado
  background-color: #FF8900 !important

.slyder-a__bullets__item--active
  background-color: #FF8900 !important
  border-color: #FF8900 !important

.slyder-a__bullets__item
  background-color: rgba(255, 137, 0, 0.35)

.ajustarimagen
  width: 188px !important

.tarjeta-avatar > img
  max-width: 35% !important
  top: 10px !important

.tamano
  width: 240px
  height: 247.5px

.linea-tiempo-b.color-secundario .linea-tiempo-b__icon:after
  background-color: #F7CE48 !important

.linea-tiempo-b__icon:after
  content: ''
  display: block
  width: 35px 
  height: 4px
  position: absolute
  left: 77%
  top: 50%
  transform: translateY(-50%)

.sombra
  box-shadow: 2px 3px 3px #cccccc

.alto
  height: 400px

.fondonota
  background-color: #f6f6f6

.texto-18px
  font-size: 18px

.texto-13px
  font-size: 13px

.texto-19px
  font-size: 19px

.textonegro
  color: black !important

@media (min-width: 768px)
  .linea-tiempo-b__row:nth-child(odd) .linea-tiempo-b__icon:after
    right: 77%
    left: auto

@media (min-width: 1400px)
  .tarjeta-avatar > img
    max-width: 30% !important
  .altoCuadro2
    height: 430px !important

@media (min-width: 768px)
  .linea-tiempo-b__row:nth-child(odd) .linea-tiempo-b__content
    text-align: left

@media (max-width: 1400px)
  .altoCuadro
    height: 370px !important
  .altoCuadro2
    height: 570px !important

@media (max-width: 1200px)
  .altoCuadro
    height: 450px !important
  .fondo7
    background-size: cover
  .altoCuadro2
    height: 500px !important
  .fondo19
    background-size: 100% 100% !important

@media (max-width: 992px)
  .altoCuadro
    height: 390px !important
  .tarjeta-avatar > img
    max-width: 55% !important
  .altoCuadro2
    height: 450px !important
  .adecuartexto
    font-size: 16px

@media (max-width: 768px)
  .altoCuadro
    height: 310px !important
  .margenimg
    display: none
  .ampliarfondo2
    margin-left: -50px
    margin-right: -50px
    align-items: center
    justify-content: center
    padding-bottom: 3em
  .tarjeta-avatar > img
    max-width: 45% !important
    top: 10px !important
  .altoCuadro2
    height: 290px !important
  .adecuartexto
    font-size: 15px

@media (max-width: 500px)
  .slyder-a__bullets__item 
    margin: 0 2px
  .altoCuadro2
    height: 380px !important
  .adecuartexto
    font-size: 11px

@media (max-width: 320px)
  .altoCuadro2
    height: 520px !important
  .adecuartexto
    font-size: 7px